aws_region         = "ap-southeast-1"
project_name       = "aws-tf-webapp-dev"
key_name           = "CHANGE-ME-ec2-key-pair"
allowed_ssh_cidr   = "CHANGE-ME-your-public-ip/32"
static_bucket_name = "duc-aws-tf-webapp-dev-static-assets"

db_name     = "webapp"
db_username = "admin"
db_password = "CHANGE-ME-strong-password"
